body {
    background-image: url("images/green.jpg");
    height: auto;
    min-width: 650px;
}
header {
    color: #9acd32;
    text-align: center;
    max-width: 1600px;
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
    font-size: 150px;
    font-family: Arial;
    min-width: 650px;
}
#quote {
    color: #9acd32;
    text-align: center;
    font-size: 45px;
}


#nav {
    height: 100px;
    max-width: 1000px;
    margin: 0 auto;
    background-image: url("images/girl.jpg");
    min-width: 650px;
}
#nav > a
{
    background-color: #9acd32;
    font-weight: bold;
    border-radius: 10px;
    border-color: black;
    height: 33px;
    width: 110px;
    margin-left: 170px;
    margin-top: 25px;
    font-size: 20px;
    min-width: 650px;
}
.lefting {
    float: left;
}
#about {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    color: #9acd32;
    font-size: 30px;
    min-width: 650px;
}

    
a {
    color: black;
    margin-left: 45px;
    margin-right: 45px;
    text-decoration: none;
    font-size: 15px;
    background-color: #9acd32;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid black;
    font-weight: bold;
    vertical-align: -35px;
    min-width: 650px;
}
a:active {
    color: #9acd32;
}
footer {
    color: #9acd32;
    text-align: center;
    width: auto;
    font-size: 25px;
    margin-top: 30px;
}
hr {
    color: green;
}