
#backpic {
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/backpic.jpg");
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5px;
    color: red;
}
#backpic a {
    background-color: #9acd32;
    border-radius: 60px;
    margin-left: 65px;
    font-size: 15px;
    display: block;
    width: 65px;
    margin-top: 60px;
}
    
