body {
    background-image: url("images/green.jpg");
    height: auto;
    max-width: 5000px;
    min-width: 300px;
}

header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.maintitle {
    font-size: 110px;
    font-family: Arial;
    margin: auto;
    color: #9acd32;
    text-align: center;
    min-width: 70px;
}

#quote {
    color: #9acd32;
    text-align: center;
    font-size: 35px;
}

#nav {
    height: 100px;
    max-width: 1000px;
    margin: 0 auto;
    background-image: url("images/girl.jpg")
}

#nav > a {
    background-color: #9acd32;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
    color: black;
    margin-right: 50px;
    text-decoration: none;
    padding: 5px;
    border: 2px solid black;
    vertical-align: -25px;
}  

footer {
    color: #9acd32;
    text-align: center;
    width: auto;
    font-size: 25px;
    margin-top: 30px;
    height: 20px;
}

hr {
    color: green;
}
