body {
    background-image: url("images/green.jpg");
    height: 730px;
}
header {
    color: #9acd32;
    text-align: center;
    width: 1600px;
    background-repeat: repeat;
    background-position: center;
    background-size: 100%;
    font-size: 150px;
    font-family: Arial;
}
#quote {
    color: #9acd32;
    text-align: center;
    font-size: 45px;
}


#nav {
    height: 100px;
    width: 1000px;
    margin: 0 auto;
    background-image: url("images/girl.jpg");
}
#nav > a
{
    background-color: #9acd32;
    font-weight: bold;
    border-radius: 10px;
    border-color: black;
    height: 33px;
    width: 110px;
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
}

#backpic {
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/backpic.jpg");
    font-size: 100px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5px;
    color: red;
}
#backpic a {
    background-color: #9acd32;
    border-radius: 60px;
    margin-left: 65px;
    font-size: 15px;
    display: block;
    width: 65px;
    margin-top: 60px;
}
    
a {
    color: black;
    margin-right: 65px;
    text-decoration: none;
    font-size: 15px;
    background-color: #9acd32;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid black;
    font-weight: bold;
    vertical-align:-35px;
}
a:active {
    color: #9acd32;
}
footer {
    color: #9acd32;
    text-align: center;
    width: auto;
    font-size: 25px;
    margin-top: 30px;
    height: 20px
}